# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

target
tmp
.history
dist
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/.settings
.dependencies
.DS_Store
bin
